apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  labels:
    app: producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
        - name: producer
          image: examen-productor:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOST
              value: "redis-cluster"
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: redis-password
            - name: SENSOR_ID
              value: "rbt-01"
            - name: PUSH_INTERVAL
              value: "3"
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            exec:
              command:
                - test
                - -f
                - /app/producer.py
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            exec:
              command:
                - test
                - -f
                - /app/producer.py
            initialDelaySeconds: 5
            periodSeconds: 10
