apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-commander
  labels:
    app: redis-commander
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-commander
  template:
    metadata:
      labels:
        app: redis-commander
    spec:
      containers:
        - name: redis-commander
          image: rediscommander/redis-commander:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: redis-password
          command: ["sh","-c"]
          args:
            - |
              export REDIS_HOSTS="local:redis://:$REDIS_PASSWORD@redis:6379" && \
              redis-commander --port 8081 --www 0.0.0.0
          ports:
            - containerPort: 8081
              name: web

---
apiVersion: v1
kind: Service
metadata:
  name: redis-commander
spec:
  type: NodePort
  selector:
    app: redis-commander
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081
      protocol: TCP
